@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
    .check{
        @apply border-2 border-yellow-500
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }


    

    .inputFile::before{
        color: white;
        content: "Upload photo";
        padding-left: 16px;
        font-size: 0.9rem;
    }

    

    .inputFile::-webkit-file-upload-button{
         visibility: hidden;
    }


}   

.chatBox::-webkit-scrollbar{
    display: none;
}

.chatBox{
    scrollbar-width: none;   
}




