@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
    .check{
        @apply border-2 border-yellow-500
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .inputFile::-webkit-file-upload-button{
       visibility: hidden;
    }

    .inputFile::before{
        content:"Select a picture";
        color: white;
        margin-top: 50px;
        margin-left: 20px;
    }


}   

.chatBox::-webkit-scrollbar{
    display: none;
}

.chatBox{
    scrollbar-width: none;   
}




